<th scope="row">{{participante.id}}</th>
<td><img src="assets/imgs/{{participante.foto}}" alt="{{participante.nombre}}" height="100vh"></td>
<td>{{participante.nombre}}</td>
<td>{{participante.anos_experiencia}}</td>
<td>{{participante.especialidad}}</td>